
/* .main {
  color: #9372e0;
  padding: 75px 0;
}
.card-list{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  height: 250px;
  background-color: #321c59;
}
.title-card{
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid rgb(47, 43, 58);
} */